# ==== Python / Django ====
*.pyc
__pycache__/
*.sqlite3
db.sqlite3

# Entorno virtual
venv/

# Archivos generados
backend/media/

# ==== Node / React (solo los generados) ====
frontend/node_modules/
frontend/.cache/
frontend/build/

# ==== Configuración local y del sistema ====
.env
.vscode/
.idea/
.DS_Store
Thumbs.db